.idea/
images/
FaceDetect/out_ei/
FaceDetect/out_ei2/
FaceDetect/out_mirin/
FaceDetect/out_moga/
FaceDetect/out_nemu/
FaceDetect/out_risa/
FaceDetect/out_pincky/
FaceCollecter/__pycache__/
FaceCollecter/images_ei/
FaceCollecter/images_mirin/
FaceCollecter/images_moga/
FaceCollecter/images_nemu/
FaceCollecter/images_pincky/
FaceCollecter/images_risa/
